In [14]:
from sqlalchemy import create_engine , Column , Integer , String , Float , func
from sqlalchemy.orm import declarative_base, sessionmaker

In [21]:
DATABASE_URL = "postgresql+psycopg2://postgres:Deepak123@localhost:5432/postgres"
engine = create_engine(DATABASE_URL , echo = True)
Base = declarative_base()

In [25]:
class Product(Base):
    __tablename__ = "products1"
    id = Column(Integer , primary_key=True , autoincrement=True)
    name = Column(String,nullable=False)
    category = Column(String,nullable=False)
    price = Column(Integer,nullable=False)

Base.metadata.create_all(engine)
Session = sessionmaker(bind=engine)
session = Session()

products_data = [
    {"name": "Laptop", "category": "Electronics", "price": 1000},
    {"name": "Smartphone", "category": "Electronics", "price": 700},
    {"name": "Table", "category": "Furniture", "price": 150},
    {"name": "Chair", "category": "Furniture", "price": 85},
]

if not session.query(Product).first():
    session.bulk_insert_mappings(Product,products_data)
    session.commit()




electronics_products = session.query(Product).filter(Product.category == "Electronics").all()
print("Query 1: Products in 'Electronics' category:")
for product in electronics_products:
    print((product.name, product.category, product.price))


    
# Query 2: Retrieve products with price > 500
expensive_products = session.query(Product).filter(Product.price > 500).all()
print("\nQuery 2: Products with price > 500:")
for product in expensive_products:
    print((product.name, product.category, product.price))
# Query 3: Retrieve average price of products in each category
average_prices = session.query(Product.category, func.avg(Product.price)).group_by(Product.category).all()
print("\nQuery 3: Average price of products in each category:")
for category, avg_price in average_prices:
    print((category, round(avg_price, 2)))
# Close the session
session.close()

2025-01-21 16:47:44,649 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-21 16:47:44,650 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-01-21 16:47:44,651 INFO sqlalchemy.engine.Engine [cached since 141.2s ago] {'table_name': 'products', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-01-21 16:47:44,656 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-01-21 16:47:44,657 INFO sqlalchemy.engine.Engine [cached since 141.2s ago] {'table_name': 'products1', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-01-21 16:47:44,658 INFO sqlalchemy.engine.Engine
CREATE TABLE products1 (
	id SERIAL NOT NULL,
	name VARCHAR NOT NULL,
	category VARCHAR NOT NULL,
	price INTEGER NOT NULL,
	PRIMARY KEY (id)
)


2025-01-21 16:47:44,658 INFO sqlalchemy.engine.Engine [no key 0.00046s] {}
2025-01-21 16:47:44,672 INFO sqlalchemy.engine.Engine COMMIT
2025-01-21 16:47:44,675 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-21 16:47:44,676 INFO sqlalchemy.engine.Engine SELECT products1.id AS products1_id, products1.name AS products1_name, products1.category AS products1_category, products1.price AS products1_price
FROM products1
 LIMIT %(param_1)s
2025-01-21 16:47:44,677 INFO sqlalchemy.engine.Engine [generated in 0.00073s] {'param_1': 1}
2025-01-21 16:47:44,680 INFO sqlalchemy.engine.Engine INSERT INTO products1 (name, category, price) VALUES (%(name__0)s, %(category__0)s, %(price__0)s), (%(name__1)s, %(category__1)s, %(price__1)s), (%(name__2)s, %(category__2)s, %(price__2)s), (%(name__3)s, %(category__3)s, %(price__3)s)
2025-01-21 16:47:44,680 INFO sqlalchemy.engine.Engine [generated in 0.00009s (insertmanyvalues) 1/1 (unordered)] {'price__0': 1000, 'category__0': 'Electronics', 'name__0': 'Laptop', 'price__1': 700, 'category__1': 'Electronics', 'name__1': 'Smartphone', 'price__2': 150, 'category__2': 'Furniture', 'name__2': 'Table', 'price__3': 85, 'category__3': 'Furniture', 'name__3': 'Chair'}
2025-01-21 16:47:44,682 INFO sqlalchemy.engine.Engine COMMIT
2025-01-21 16:47:44,684 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-21 16:47:44,687 INFO sqlalchemy.engine.Engine SELECT products1.id AS products1_id, products1.name AS products1_name, products1.category AS products1_category, products1.price AS products1_price
FROM products1
WHERE products1.category = %(category_1)s
2025-01-21 16:47:44,687 INFO sqlalchemy.engine.Engine [generated in 0.00092s] {'category_1': 'Electronics'}
Query 1: Products in 'Electronics' category:
('Laptop', 'Electronics', 1000)
('Smartphone', 'Electronics', 700)
2025-01-21 16:47:44,691 INFO sqlalchemy.engine.Engine SELECT products1.id AS products1_id, products1.name AS products1_name, products1.category AS products1_category, products1.price AS products1_price
FROM products1
WHERE products1.price > %(price_1)s
2025-01-21 16:47:44,692 INFO sqlalchemy.engine.Engine [generated in 0.00058s] {'price_1': 500}

Query 2: Products with price > 500:
('Laptop', 'Electronics', 1000)
('Smartphone', 'Electronics', 700)
2025-01-21 16:47:44,695 INFO sqlalchemy.engine.Engine SELECT products1.category AS products1_category, avg(products1.price) AS avg_1
FROM products1 GROUP BY products1.category
2025-01-21 16:47:44,695 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}

Query 3: Average price of products in each category:
('Furniture', Decimal('117.50'))
('Electronics', Decimal('850.00'))
2025-01-21 16:47:44,699 INFO sqlalchemy.engine.Engine ROLLBACK

C:\Users\Dell\AppData\Local\Temp\ipykernel_6076\891766493.py:1: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Product, and will be replaced in the string-lookup table.
  class Product(Base):